<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article.body %>

  </div>

  <% if article.photo.attached? %>
    <%= cl_image_tag article.photo.key, alt: "Photo of reference", width: 200 %>
  <% end %>

</div>
